.App {
  text-align: left;
  display: flex;
}

@media screen and (max-width: 575px) {
  .app {
    display: block;
  }
}

body {
  font-family: 'proxima-nova';
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
  background-color: #fcf8f7;
}

.logo {
  width: 80px;
  margin: 20px;
}

.userName {
  text-align: right;
  margin-right: 80px;
  margin-top: 10px;
  font-size: small;
  color: grey;
  font-family: serif;
}
.userName img {
  width: 11px;
  padding-left: 11px;
}

.home {
  display: flex;
  flex: 80%;
  height: 100%;
  flex-direction: column;
  padding-left: 50px;
  box-shadow: 0px 10px 7px 4px #ccc;
}

.mainHeader {
  color: rgb(199, 109, 89);
  font-size: 40px;
  font-family: serif;
}

.contentWrapper {
  flex-direction: row;
  display: flex;
}

.resultsPage {
  flex: 80%;
}

.explainerImg {
  width: 150px;
}
.explainer {
  flex: 20%;
  padding: 25px;
}
.addContent {
  margin-top: 35px;
  margin-bottom: 70px;
}
.addBtn {
  margin-left: 8px;
  background-color: #2e46b6;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: white;
  font-size: x-large;
  outline: none;
}

.shows {
  background-color: #f8eeec;
  /* height: 100vh; */
  flex: 20%;
}
.items {
  padding: 0;
}
.item {
  position: relative;
  cursor: pointer;
  padding: 15px 30px;
  transition: all 250ms;
  list-style-type: none;
  text-align: left;
  color: #c76d59;
}
.item:last-child {
  text-decoration: underline;
  color: #981514;
}
